<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>975982733515-vgg2af16hump2bsf5vd9c07e85rfjaar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975982733515-vgg2af16hump2bsf5vd9c07e85rfjaar</string>
	<key>API_KEY</key>
	<string>AIzaSyD5QOaHIaE8fK-GNtm-rekFZU3bE68p_tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>975982733515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gustavo.appointment.ios</string>
	<key>PROJECT_ID</key>
	<string>appointmentproject-a7233</string>
	<key>STORAGE_BUCKET</key>
	<string>appointmentproject-a7233.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975982733515:ios:e4275b3d1a1aba11</string>
	<key>DATABASE_URL</key>
	<string>https://appointmentproject-a7233.firebaseio.com</string>
</dict>
</plist>